body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {
    text-align: center;
    width: 600px;
    max-width: 100%; 
}

h1 {
    background-color: green;
    color: white;
    border: 1px solid black;
    padding: 10px;
}

p {
    font-size: 22px;
    border: 1px solid black;
    margin-top: -22px;
    margin-bottom: -21px;
    padding: 10px;
}


table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

th {
    background-color: green;
    color: white;
}

button {
    padding: 15px 25px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: darkgreen;
    transform: scale(1.1);
}
